ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
  margin: 0 auto;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}
.gallery-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  &:hover{
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
  }
}
